/* General */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;  
}

a:visited, .subtext {
    font-size: 18px; 
    color: #d4d4d4;
}

ul {
    list-style: none;
}

/*--------------*/


/* Top of Website */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px; 
 }
 
h1 {
    color: #F9FAF8;
}

/*   left-side    */
.left h1 {
    font-size: 24px; 
}

.head-next {
    display: flex;
    align-items: center;
    margin: 100px 0; 
}

.head-body {
    width: 420px; 
}

.head-body h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: extra-bold;
}


/*   right side     */
button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    width: 125px;
    padding: 8px;  
}

.subtext.image {
    background-color: #848484;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 120px 0;
    height: 250px;
    width: 550px; 
}

.head-body .subtext {
    margin-top: 0px; 
}

.right ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
}

a {
    text-decoration: none;
}

/*--------------*/


/*   middle-side    */

.middle {
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.middle h2 {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.middle ul {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 60px; 
}

.middle li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
}

.illus {
    border: #3882f6 solid 3px; 
    width: 170px; 
    height: 170px;
    border-radius: 15px; 
}

.middle .subtext {
    text-align: center;
    width: 150px; 
    margin: 0px; 
}

/*--------------*/


/*   quote-block    */
.quote-block {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;  
}


.quote {
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
    width: 750px;
    margin-bottom: 0px;
    align-self: center;
}

.signature {  
    width: 1130px;
    text-align: end;
    font-size: 25px;
    font-weight: 600;
}
/*--------------*/

/*   call-to-action-block    */
.call-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.box {
    border-radius: 20px; 
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    padding: 20px 100px;
}

.call-block button {
    border: white solid 2px;
    
} 

h3 {
   margin-bottom: 0px; 
   color: #F9FAF8;
   font-size: 20px;
}

.box p {
    margin-top: 0px; 
}

/*--------------*/



/*   footer    */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/*--------------*/
