body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;  
}

.hero {
   background-color: #1F2937;
   display: flex;
   justify-content: space-evenly;
   padding: 0 100px;
}


ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
}

a:visited, .subtext {
    font-size: 18px; 
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

h1 {
    color: #F9FAF8;
}

.left h1 {
    font-size: 24px; 
}

.head-next {
    display: flex;
    align-items: center;
    margin: 100px 0; 
}

.head-body {
    width: 420px; 
}

.head-body h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: extra-bold;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    width: 125px;
    padding: 8px;  
}

.subtext.image {
    background-color: #848484;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 120px 0;
    height: 250px;
    width: 550px; 
}

.head-body .subtext {
    margin-top: 0px; 
}