/* General */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;  
}

a:visited, .subtext {
    font-size: 18px; 
    color: #bbbbbb;
}

ul {
    list-style: none;
}

/*--------------*/


/* Top of Website */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 0 100px; 
 }
 
h1 {
    color: #F9FAF8;
}

/*   left-side    */
.left h1 {
    font-size: 24px; 
}

.head-next {
    display: flex;
    align-items: center;
    margin: 100px 0; 
}

.head-body {
    width: 420px; 
}

.head-body h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: extra-bold;
}


/*   right side     */
button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    width: 125px;
    padding: 8px;  
}

.subtext.image {
    background-color: #848484;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 120px 0;
    height: 250px;
    width: 550px; 
}

.head-body .subtext {
    margin-top: 0px; 
}

.right ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
}

a {
    text-decoration: none;
}

/*--------------*/


/*   middle-side    */

.middle h2 {
    text-align: center;
    margin: 50px; 
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.middle ul {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 60px; 
}

.middle li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
}

.illus {
    border: #3882f6 solid 3px; 
    width: 170px; 
    height: 170px;
    border-radius: 15px; 
}

.middle .subtext {
    text-align: center;
    width: 150px; 
    margin: 0px; 
}

/*--------------*/